---
layout: default
---


<div class="heading" id="toc">
  <h2>Содержание</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#bem">БЭМ</a></h4>
    <ul>
      <li><a href="#">syntax</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#pre-css">LESS, SASS, stylus, PostCSS...</a></h4>
    <ul>
      <li><a href="#">Syntax</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Золотые правила</h2>
    <p>Cоблюдайте предложенные здесь или свои собственные соглашения. Если вы нашли ошибку, сразу сообщите об этом. Если у вас есть что дополнить или вы хотите принять участие в разработке этих соглашений, пожалуйста, <a href="https://github.com/nicothin/idiomatic-pre-CSS/issues/new">создайте issue на GitHub</a>.</p>
  </div>
  <div class="col">
    <ol>
      <li>Весь код проекта должен выглядеть так, словно он написан одним человеком, вне&nbsp;зависимости от&nbsp;количества разработчиков.</li>
      <li>Делать нужно настолько просто, насколько возможно. Но&nbsp;не&nbsp;проще.</li>
      <li>Любой инструмент при бездумном использовании может выстрелить в&nbsp;ногу.</li>
    </ol>
  </div>
</div>



<div class="heading" id="bem">
  <h2>БЭМ (как метод именования селекторов)</h2>
</div>

<div class="section" id="">
  <div class="col">
    <h3>Зачем</h3>
    <ul>
      <li>Имитация пространства имён</li>
      <li>Самодокументируемость</li>
      <li>Отсутствие зависимости от DOM-структуры</li>
      <li>Простота модификации</li>
    </ul>
    <p>Само понятие БЭМ — не только метод именования селекторов, но парадигма восприятия проекта как набора сущностей (блоки, элементы, модификаторы). Полный стек БЭМ подразумевает двойную шаблонизацию и имеет относительно высокий порог входа. Используйте БЭМ хотя бы как способ именования селекторов.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Нет более простой, универсальной, удобной концепции чем БЭМ.</p>
    </blockquote>
  </div>
</div>

<div class="section" id="">
  <div class="col">
    <h3>Зачем</h3>
    <ul>
      <li></li>
    </ul>
    <p>Questions</p>
  </div>
  <div class="col">
    {% highlight html %}{% include bem/block-and-element.html %}{% endhighlight %}
  </div>
</div>



<div class="heading" id="pre-css">
  <h2>LESS, SASS, stylus, PostCSS...</h2>
</div>

<div class="section" id="">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Use</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include pre-css/ampersand.less %}{% endhighlight %}
  </div>
</div>
