---
layout: default
---


<div class="heading" id="toc">
  <h2>Содержание</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#pre-css">LESS, SASS, stylus, PostCSS...</a></h4>
    <ul>
      <li><a href="#">Syntax</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#bem">БЭМ</a></h4>
    <ul>
      <li><a href="#">syntax</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Золотые правила</h2>
    <p>Cоблюдайте предложенные здесь или свои собственные соглашения. Если вы нашли ошибку, сразу сообщите об этом. Если у вас есть что дополнить или вы хотите принять участие в разработке этих соглашений, пожалуйста, <a href="https://github.com/nicothin/idiomatic-pre-CSS/issues/new">создайте issue на GitHub</a>.</p>
  </div>
  <div class="col">
    <ol>
      <li>Весь код проекта должен выглядеть так, словно он написан одним человеком, вне зависимости от количества разработчиков.</li>
      <li>Делать нужно настолько просто, насколько возможно. Но не проще.</li>
      <li>Любой инструмент при бездумном использовании может выстрелить мастеру в ногу.</li>
    </ol>
  </div>
</div>



<div class="heading" id="pre-css">
  <h2>LESS, SASS, stylus, PostCSS...</h2>
</div>

<div class="section" id="">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Use</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include pre-css/ampersand.less %}{% endhighlight %}
  </div>
</div>



<div class="heading" id="bem">
  <h2>БЭМ</h2>
</div>

<div class="section" id="">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Use</li>
    </ul>
    <p>Questions</p>
  </div>
  <div class="col">
    {% highlight css %}{% include bem/block-and-element.html %}{% endhighlight %}
  </div>
</div>
