html {
  font-size: 16px;
}
@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #5a5a5a;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin: 0 0 .5rem;
  font-weight: normal;
  line-height: 1;
  color: #2a2a2a;
  letter-spacing: -.05em;
}
h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem }

p {
  margin: 0 0 1rem;
}
.lead {
  font-size: 1.3rem;
}

blockquote {
  position: relative;
  margin: 0 1rem 1rem;
  font-style: italic;
  color: #7a7a7a;
}
blockquote p {
  margin-bottom: 0;
}

ul li {
  margin-bottom: .25rem;
}

/* Tighten up margin on last items */
p:last-child,
ul:last-child,
blockquote:last-child{
  margin-bottom: 0;
}

code,
pre {
  font-family: "PT Mono", Menlo, "Courier New", monospace;
  font-size: 95%;
}
code {
  padding: 2px 4px;
  font-size: 85%;
  color: #d44950;
  background-color: #f7f7f9;
  border-radius: .2rem;
}

pre {
  display: block;
  margin: 0 0 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.col {
  padding: 2rem 1rem;
}
.col p {
  max-width: 40rem;
}
.col + .col {
  border-top: 1px solid #dfe1e8;
  background-color: #f7f7f9;
}
@media (min-width: 38em) {
  .col {
    padding: 2rem 1rem;
  }
}
@media (min-width: 48em) {
  .section {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .col {
    display: table-cell;
    padding: 3rem 2rem;
    vertical-align: top;
  }
  .col + .col {
    border-top: 0;
  }
}

.toc .col + .col {
  background-color: #fff;
}

.page-header {
  padding: 3rem 1rem;
  color: rgba(255,255,255,.5);
  text-align: center;
  background-color: #2a3440;
}
.page-header h1 {
  color: #fff;
  margin-bottom: .25rem;
}

@media (min-width: 38em) {
  .page-header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.heading {
  padding: 2rem 1rem 1.5rem;
  background-color: #dfe1e8;
}

@media (min-width: 38em) {
  .heading {
    padding: 3rem 3rem 2.5rem;
  }
}

.section {
  border-bottom: 1px solid #dfe1e8;
}

.page-footer {
  padding: 3rem 1rem;
  font-size: 90%;
  text-align: center;
}
.page-footer p {
  margin-bottom: .5rem;
}



.code {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding: 1em;
  white-space: normal;
  tab-size: 2;
  max-height: 50rem;
}

.code__line {
  display: block;
  white-space: pre;
}

/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #393A34;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 0.95em;
    line-height: 1.2em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .2em;
    padding-top: 1px; padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #969896;
}

.token.namespace {
    opacity: .7;
}

.token.string,
.token.attr-value {
    color: #183691;
}
.token.punctuation,
.token.operator {
    color: #795DA3;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #795DA3;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #63A35C;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}
